<header class="bg-brutalyellow border-r-black border-r-8 py-10">
  <h1 class="text-3xl font-bold text-center mb-8">Welcome!</h1>
  <nav>
    <ul class="grid gap-8">
      <li>
        <a
					class="btn-primary"
          href="/"
          >Home</a
        >
      </li>
      <li>
        <a
					class="btn-primary"
          href="/profile"
          >Profile</a
        >
      </li>
      <li>
        <a
					class="btn-primary"
          href="/auth"
          >Auth</a
        >
      </li>
      <li>
        <a
					class="btn-primary"
          hx-post="/signout"
          >Logout</a
        >
      </li>
    </ul>
  </nav>
</header>
