attrs==22.2.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.3
Cython==3.0.2
dl==0.1.0
docutils==0.20.1
fastapi==0.103.1
HTMLParser==0.0.2
ipython==8.15.0
ipywidgets==8.1.0
Jinja2==3.1.2
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
mock==3.0.5
Pillow==10.0.0
Pillow==9.5.0
Pillow==10.0.0
protobuf==4.24.2
protobuf==3.20.3
pydantic==1.10.9
pyOpenSSL==23.2.0
python-dotenv==1.0.0
python_bcrypt==0.3.2
railroad==0.5.0
Sphinx==7.2.5
starlette==0.31.1
supabase==1.0.4
tornado==6.3.3
trove_classifiers==2023.8.8
truststore==0.8.0
urllib3_secure_extra==0.1.0
uvicorn==0.23.2
xmlrpclib==1.0.1
