{# templates/base.html #}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/site.webmanifest" />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              brutalgreen: '#4ea4a1',
              brutalyellow: '#fcc52c',
              clifford: '#da373d',
              brutalpurple: '#8669d7',
              antiquepaper: '#f5ebd7',
              brutalpink: '#f6b7d6',
            },
            boxShadow: {
              brutal: '15px 10px 0px 0px rgba(0,0,0,1)',
              brutalsmall: '10px 5px 0px 0px rgba(0,0,0,1)',
            },
            gridTemplateColumns: {
              main: '20rem 1fr',
            },
          },
        },
      }
    </script>
    <style type="text/tailwindcss">
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer components {
        .btn-primary {
          @apply bg-brutalpink mx-2 px-8 py-2 rounded-xl border-4 border-black shadow-brutalsmall hover:bg-brutalpink/70;
        }
      }
    </style>
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body class="bg-antiquepaper min-h-screen">
    <!-- prettier-ignore -->
    {% block header %}
		{% endblock header %}
		{% block content %}
		{% endblock content %}
		{% block footer %}
		{% endblock footer %}
  </body>
</html>
