<!-- prettier-ignore -->
{# templates/index.html #} 
{% extends "base.html" %} 
{% block title %} {{ title }} {% endblock title %} 
{% block content %}
<div>
  <button
    hx-post="signout"
    hx-on:htmx:after-request="window.location.href='/auth'"
    hx-swap="none"
  >
    Sign Out
  </button>
  <div>
    <h1 class="text-2xl">Welcome In</h1>
    <h2 class="text-xl">Your Profile</h2>
    <p class="text-s">{{ profile.data.email }}</p>
    <p id="display_name" class="text-s">{{ profile.data.display_name }}</p>
    <input type="text" name="display_name" id="display_name" />
    <button
      hx-post="/update_display_name"
      hx-target="#display_name"
      hx-swap="innerHTML"
    >
      Update Display name
    </button>
  </div>
</div>
{% endblock content %}
