<!-- prettier-ignore -->
{# templates/index.html #}
{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}
	{% block header %}

<div class="grid grid-cols-main min-h-screen" id="#page-container">
  {% include "/partials/header/header.html" %}
  <!-- prettier-ignore -->
  {% endblock header %}
	{% block content %}
  <section>
    <div
      class="grid bg-brutalpurple p-10 mt-10 shadow-brutal rounded-xl border-4 border-black mb-10"
    ></div>
  </section>
  {% endblock content %} {% block footer %} {% endblock footer %}
</div>
